# Prevent browser from accessing sensitive files and folders
<Files .env>
    Order allow,deny
    Deny from all
</Files>
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^(src|vendor)/ - [F,L]
</IfModule>

# Route all requests to the public/index.php file
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]